body
{
	background: lightblue;
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#number_1
{
	width: 60%;
}
#number_2
{
	width: 60%;
}

#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #6fb9e4;
padding: 10px;
float: none;
text-align: left;
}
h1{
	color: white;
}















